:root {
    --primary-color: rgba(0, 0, 0, 0.4);
    --secondary-color: rgba(0, 0, 0, 0.3);
    --border-color: rgba(255, 255, 255, 0.1);
    --background: rgba(255, 255, 255, 0.06);
    --primary-text-color: #f2f2f2;
    --secondary-text-color: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: none;
}

/* BDOY */
body {
    background-image: url('../../images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 25px;
    color: var(--primary-text-color);
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
section {
    padding: 20px 40px;
    border: solid 1px var(--border-color);
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--primary-color);
}

section h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

section p {
    margin-bottom: 20px;
    font-size: 10px;
    text-align: center;
}

/* FORM */
section input:not([type="submit"]) {
    width: 350px;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    border-radius: 7px;
    background-color: var(--secondary-color);
}

section #name, #lastname {
    width: 170px;
}

section #submit {
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #222222;
    color: var(--primary-text-color);
}

section #submit:hover {
    transition: .2s ease-in-out;
    border: none;
    background-color: #f2f2f2;
    color: var(--secondary-text-color);
}

section #submit:active {
    transition: none;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    section {
        width: 320px;
        padding: 20px 20px;
    }

    section h1 {
        font-size: 24px;
    }

    section input:not([type="submit"]) {
        width: 100%;
    }

    section #name, #lastname {
        width: 48.7%;
    }
}